<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.3/phpunit.xsd"
    executionOrder="depends,defects"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    cacheResult="false"
    cacheTokens="true"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    printerClass="PHPUnit\TextUI\ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="true"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true"
    bootstrap="lib/autoload.php">
    <php>
    </php>
    <testsuites>
        <testsuite name="Pbraiders Pomponne Test Suite">
            <directory suffix="Test.php">tests/pbr/Service</directory>
            <directory suffix="Test.php">tests/pbr/Application</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">pbr/Application</directory>
            <directory suffix=".php">pbr/Service</directory>
            <exclude>
                <file>pbr/Application/application.php</file>
                <directory>lib</directory>
                <directory>old</directory>
                <directory>public</directory>
                <directory>tests</directory>
                <directory>var</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
