Options -Indexes

ErrorDocument 401 "An authorization is required to access to this resource. Contact your PBRaiders administrator."
ErrorDocument 403 "The access to this resource is denied. Contact your PBRaiders administrator."
ErrorDocument 404 "The requested resource is not found.. Contact your PBRaiders administrator."
ErrorDocument 500 "A server error has occured. Contact your web hosting provider."
ErrorDocument 503 "The service is unavailable. Contact your web hosting provider."

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
